:root{
    --primary-color:#1e40af;
    --secondary-color: #93c5fd;
}
*,*::before,*::after{
    box-sizing: border-box;
}
.navbar{
   border-bottom:solid 1px;
   padding-bottom: 1em;
}
.navbar a{
    color:white;
    margin-left: 20px;
    text-decoration: none;
    padding:.5em 1em;
    background-color: var(--primary-color);
    border-radius:20px;
    /* font-weight:bold; */
}
.navbar a:hover{
    color:var(--primary-color);
    background-color: var(--secondary-color);
}

